<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="LAWConnectionString" connectionString="Data Source=SAKANSHA-PC;Initial Catalog=LAW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LAWConnectionString2" connectionString="Data Source=SAKANSHA-PC;Initial Catalog=LAW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <sessionState timeout="20"></sessionState>
    </system.web>
  <appSettings>
   <add key="con" value="Server=(local); UID=SA; PWD=;Initial Catalog=LAW; Integrated Security=True" />

  </appSettings>
  
</configuration>
